<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Index Page</title>
</head>
<body>
<h1 th:text="'Owners List'"></h1>

<table>
    <thead>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.getId()}"></td>
        <td th:text="${owner.getFirstName()}"></td>
        <td th:text="${owner.getLastName()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>